app/
.asoundrc
.bash-history/
.bash-logout
.bashrc
.cache/
.dbus/
Desktop
Documents/
Downloads/
.fontconfig/
.gitignore.swp
.gsstreamer-0.10
.local/
Music/
.node-gyp/
.node_repl_history
.npm/
Pictures/
.pip/
.profile
Public/
python_games/
Templates/
.themes/
Videos/
.viminfo
.vim_mru_files
.vimrc
.vim_runtime/
.Xauthority
.xsession-errors
.xsession-errors.old

